commandline = ${commandline}
application = blast
applicationVersion = 2.2.21

= Generic = 
-

[commandline]

type = SimpleCommandline
title = The blast commandline
size = 2000x70

-

[inputFiles]
type = MultipleInputFiles
size = 2000x200
title = Inputfiles
-
[cpus]
type = Cpus
title = CPUs
size = 100x70
defaultValue = 1
[jobtype]
type = JobType
size = 2000x70

[walltime]
type = Walltime
title = Walltime
defaultAmount = 10
defaultUnit = days
size = 200x70
-
[jobname]
type = Jobname
defaultValue = blastjob
title = Jobname
size = 2000x70
