commandline = mothur ${file} 
application = mothur
submissionLocation = batch:ng2.symphony.waikato.ac.nz
= Create a java job = 
-
[file]
type = SingleInputFile
title = Batch file
size = 2000x70
filter = BasenameFilter
help = please select the mothur .batch file here
- 
[other files]
type = MultipleInputFiles
title = Additional input files
size = 2000x240
help = All the additional files that are necessary for running the mothur job
-
[cpus]
type = Cpus
title = CPUs
size = 200x70
[walltime]
type = Walltime
title = Walltime
defaultAmount = 1
defaultUnit = hours
#useHistory = false
size = 200x70
-
[version]
#type = ApplicationVersionSelector
#title = Mothur version
#size = 200x70
#defaultValue = 1.15
type = TextCombo
title = Mothur version
size = 200x70
prefills = 1.18.1,1.17.3,1.16
defaultValue = 1.18.1
useHistory = false
property = ApplicationVersion
editable = false

[jobname]
type = Jobname
defaultValue = mothur_job
title = Jobname
size = 2000x70

