commandline = mpiblast -i ${fastaFile} -p ${program} -d ${db} -e ${expectation_cutoff} -F ${filter} -M ${score_matrix} -w ${frame_shift_penalty} ${other}
application = mpiblast
applicationVersion = 1.5.0
force_mpi = true

= Generic = 

-

[fastaFile]
type = SingleInputFile
size = 2000x70
title = Input FASTA file
filter = BasenameFilter

-

[program]

type = TextCombo
title = The blast program
size = 150x70
prefills = blastn,blastp,blastx,tblastn,tblastx
editable = false

[db]

type = TextCombo
title = Database
size = 150x70
prefills = nt,nr
editable = false

[expectation_cutoff]

type = TextCombo
title = Expectation cutoff
size = 150x70
prefills = 0.0001,0.001,0.01,0.1,1.0,10
editable = false

-

[filter]

type = TextCombo
title = Filter
size = 150x70
prefills = T,F
editable = false

[frame_shift_penalty]

type = TextCombo
title = Frame shift penalty
size = 200x70
prefills = 0,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,25,50,100
editable = false

[score_matric]

type = TextCombo
title = Score matrix
size = 200x70
prefills = BLOSUM62,BLOSUM45,BLOSUM80,PAM30,PAM70
editable = false

-

[other]

type = TextCombo
title = Other parameters
size = 2000x70
editable = true

-
[cpus]
type = Cpus
title = CPUs
size = 100x70
defaultValue = 1


[walltime]
type = Walltime
title = Walltime
defaultAmount = 10
defaultUnit = hours
size = 200x70
-
[jobname]
type = Jobname
defaultValue = blastjob
title = Jobname
size = 2000x70

-
#will be removed for finished template, just to see what happens...
[dummy]

type = MonitorCommandlinePanel
size = 2000x70
title = Monitor commandline
